<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
<!------------------header------------------>
   {{>navbar}}
<!---main header---->  
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_right_header ">
                        <figure class="about">
                             <img src="img/abut1.jpg" alt="priyank" class="img-fluid" title="priyank gundaraniya">
                        </figure>
                     </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_left_header align-item-center">
                        <p>Hello ,</p>
                        <h1>I Am A   <span class="text_color"> Back-End Devloper</span> And Engineering Student</h1>
                        <a href="https://www.linkedin.com/in/priyank-gundaraniya-04166a270?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BeNalZjueQjSrSNQeETgEDQ%3D%3D" target="_blank"> <button>About ME</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>       
       {{>footer}}
</body>
</html>